body {
  font-family: "Orbitron", sans-serif;
  background: #d3f5f1;
}

.weather-wrapper {
  max-width: 700px;
  margin: 60px auto;
}

.app {
  background: #fff;
  padding: 40px;
  box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
  border-radius: 16px;
  color: #878787;
}

#row-two {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col-2 {
  display: inline-block;
}

.app .search-input {
  background: #f4dbfb;
  border: none;
  padding: 15px 20px;
  display: inline-block;
  border-radius: 6px;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  height: 50px;
  line-height: 20px;
  font-weight: 500;
}

.app .btn {
  background: #ffa7b1;
  font-weight: 700;
  font-size: 16px;
  padding: 15px 0;
  border: none;
  height: 50px;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.app form {
  padding-bottom: 30px;
}

.app h1 {
  margin: 20px 0 10px;
  line-height: 29px;
  font-weight: 800;
  font-size: 38px;
  line-height: 48px;
  color: #7c73f2;
  display: inline-block;
}

.app li {
  font-weight: 700;
  margin-bottom: 5px;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  line-height: 20px;
  list-style: none;
}

.app ul {
  padding: 0;
  margin: 0;
}

#wind,
#humidity {
  color: #d91356;
  font-weight: 600;
}

#description {
  color: #504ea4;
  font-weight: 600;
}

.app .temperature {
  color: #ff130f;
  font-weight: 700;
  font-weight: 700;
  font-size: 85px;
  line-height: 1;
}

.weather-info .temperature-container {
  margin-top: 25px;
}

.weather-info .temperature-container .active {
  cursor: default;
}

.weather-info .temperature-container .active:hover {
  text-decoration: none;
}

.app #unit-c,
#unit-f {
  color: #f11963;
  font-size: 21px;
  line-height: 38px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -34px;
}

.app #unit-f {
  display: block;
  text-align: right;
  margin-top: 7px;
}

.app .shcd {
  color: #885df1;
}

.app hr {
  margin-top: 25px;
}

.app .fotter {
  display: block;
  font-size: 14px;
  line-height: 18px;
  font-weight: 800;
  text-align: center;
  color: rgba(39, 33, 66, 0.4);
}

.app .fotter a {
  color: #a0adcf;
  font-weight: 500;
}
